@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?24978280');
    src: url('../fonts/fontello.eot?24978280#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff?24978280') format('woff'),
         url('../fonts/fontello.ttf?24978280') format('truetype'),
         url('../fonts/fontello.svg?24978280#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face{
      font-family: 'Roboto, sans-serif';
      src: url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');
    }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?24978280#fontello') format('svg');
    }
  }
  */

   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }


  .icon-table:before {
    content: "\f0ce";
  }
  .icon-file-text-o:before {
    content: "\f0f6";
  }
  .icon-file:before {
    content: "\f15b";
  }
  .icon-cubes:before {
    content: "\f1b3";
  }
  .icon-newspaper-o:before {
    content: "\f1ea";
  }
  .icon-clone:before {
    content: "\f24d";
  }
  .icon-doc:before {
    content: "\e800";
  }
  .icon-cog-alt:before {
    content: "\e801";
  }
  .icon-th-large:before {
    content: "\e802";
  }
  .icon-wrench:before {
    content: "\e803";
  }
  .icon-buffer:before {
    content: "\e804";
  }
  .icon-mail:before {
    content: "\e805";
  }
  .icon-ccw:before {
    content: "\e806";
  }
  .icon-users:before {
    content: "\e807";
  }
  .icon-lock:before {
    content: "\e808";
  }
  .icon-cloud:before {
    content: "\e809";
  }
  .icon-help-circled:before {
    content: "\e80a";
  }
  .icon-picture:before {
    content: "\e80b";
  }
  .icon-attention:before {
    content: "\e80c";
  }
  .icon-doc-add:before {
    content: "\e80d";
  }
  .icon-th-list:before {
    content: "\e80e";
  }
  .icon-gauge:before {
    content: "\f0e4";
  }
  .icon-chart-line:before {
    content: "\f201";
  }
  .icon-user-plus:before {
    content: "\f234";
  }
  .icon-user-times:before {
    content: "\f235";
  }
  .icon-registered:before {
    content: "\f25d";
  }
