body {
    margin: 100px auto;
    background-color: #1D2531!important;
    main {
        justify-content: center;
        .login {
            width: 350px;
            height: auto;
            .logo {
                padding: 40px;
                span {
                    color: #fff;
                    text-align: center;
                }
            }
            header {
                h1 {
                    display: block;
                    padding: 10px;
                    background-color: #222C3C;
                    color: #fff;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 300;
                    padding: 15px 0;
                }
            }
            .logowanie {
                background-color: #cdd7db;
                padding: 30px;
                form {
                    .form-control {
                        padding: 15px;
                        min-height: 48px;
                        width: 100%;
                        margin-bottom: 10px;
                        font-family: 'Libre Franklin',sans-serif;
                        border: none;
                    }
                    .remember {
                        width: 100%;
                        input[type=checkbox] {
                            margin-bottom: 0;
                        }
                        margin-bottom: 10px;
                    }
                    button {
                        background-color: #fff;
                        padding: 15px;
                        text-align: center;
                        width: 100%;
                        cursor: pointer;
                        transition: opacity .4s;
                            &:hover {
                                opacity: .7;
                            }
                    }
                }
            }
            .author {
                h2 {
                    padding: 10px 0;
                    color: #DFDFDF;
                    text-align: center;
                    font-size: 12px;
                    line-height: 34px;
                    a {
                        color: #DFDFDF;
                        transition: opacity .4s;
                        &:hover {
                            opacity: .7;
                        }
                    }
                }
            }
        }
    }
}
