.container-grid {
    max-width: 100%;
    padding: 0 15px;
}
.content {
	width: calc(100% - 395px);
	header {
		margin: 20px;
		padding: 20px;
		background-color: #fff;
		border-bottom: 2px solid #ccc;
		h2 {
			font-size: 18px;
		}
	}
    .details {
        margin: 20px 5px 0 5px;
        padding: 20px;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        .field {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            label {
                width: 200px;
                display: inline-block;
            }
            input,select,textarea {
                border-radius: 5px;
                padding: 10px 20px;
                border: 1px solid #E7EDEE;
                width: calc(100% - 204px);
            }
            .skrot {
                resize: vertical;
                height: 60px;
                font-family: $font;
            }
            .full {
                resize: vertical;
                height: 150px;
                font-family: $font;
            }
        }
        .send {
            justify-content: flex-end;
            input[type=submit] {
                background-color: #5cb85c;
                color: #fff;
                padding: 20px;
                justify-self: flex-end;
                width: 20%;
                cursor: pointer;
            }
        }
    }
}
