.form-control {
    background-position: center right;
}

.container-fluid{
    background-color: #eee;
    height: 100vh;
    .row {
        .content {
            flex: 0 0 87%;
            max-width: 87%;
            h1 {
                display: block;
                font-size: 36px;
                padding: 15px;
                margin-top: 45px;
                margin-bottom: 25px;
                background: #1D2531;
                color: #E7EDEE;
                border-radius: 0.25rem;
            }
            .filter {
                background: #fff;
                border-bottom: 1px solid #ccc;
                margin-bottom: 25px;
                h2 {
                    display: block;
                    border-top-right-radius: 0.25rem;
                    border-top-left-radius: 0.25rem;
                    padding: 15px;
                    background: #1D2531;
                    color: #E7EDEE;
                    font-size: 23px;
                    margin-bottom: 0;
                }
                form {
                    padding: 16px 15px 0 15px;
                    label {
                        line-height: 38px;
                    }
                    select {
                        background-position: center right;
                    }
                    .col-2 {
                        text-align: center;
                        background-color: transparent;
                        height: auto;
                        padding: 0 15px!important;
                    }
                }
            }
            .details {
                margin: 0;
                border-top-right-radius: 0.25rem;
                border-top-left-radius: 0.25rem;
                color: #E7EDEE;
                background: #1D2531;
            }
            .websites {
                margin-bottom: 25px;
                .website {
                    display: flex;
                    align-items: center;
                    padding: 25px;
                    margin: 0;
                    border-top-right-radius: 0.25rem;
                    border-top-left-radius: 0.25rem;
                    color: #000;
                    background: #fff;
                    border-bottom: 1px solid #ccc;
                }
            }
            .list {
                padding: 25px 0;
                background: #fff;
                border-bottom: 1px solid #ccc;
                margin-bottom: 25px;
            }
            .pagination {
                display: flex;
                justify-content: center;
                a {
                    background-color: #fff;
                    border-radius: 0.25rem;
                    display: block;
                    padding: 0.1875rem 0.625rem;
                    margin: 0 2px;
                }
            }
            .new-subpage {
                display: flex;
                justify-content: flex-end;
            }
            .new-page {
                .form {
                    div {
                        ul.nav-tabs {
                            margin-bottom: 25px;
                            border-bottom: none;
                            li {
                                a {
                                    &:first-child {
                                        margin-right: 5px;
                                    }
                                    display: inline-block;
                                    font-weight: 400;
                                    text-align: center;
                                    white-space: nowrap;
                                    border: 1px solid transparent;
                                    padding: .375rem .75rem;
                                    font-size: 1rem;
                                    line-height: 1.5;
                                    border-radius: .25rem;
                                    transition: opacity .15s;
                                    color: #fff;
                                    background-color: #1D2531;
                                    border-color: #1D2531;
                                    text-decoration: none;

                                    &:hover, &.active {
                                        opacity: .8;
                                    }
                                }
                            }
                        }
                        .tab-content {
                            .tab-pane {
                                .layout-preview {
                                    margin-bottom: 10px;
                                    .row {
                                        margin: 0 -5px;
                                        div {
                                            border: none;
                                            background: none;
                                            padding: 5px;
                                            a {
                                                display: block;
                                                background-color: #1D2531;
                                                color: #fff;
                                                padding: .375rem .75rem;
                                                border-radius: .25rem;
                                                text-decoration: none;
                                                transition: opacity .15s;
                                                &:hover, &.active {
                                                    opacity: .8;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                  }
            }
            .content-new-article {
                form {
                    .form-group {
                        label {
                            display: block;
                            font-size: 16px;
                            padding: 8px 10px;
                            background: #222C3C;
                            color: #E7EDEE;
                            border-top-left-radius: 0.25rem;
                            border-top-right-radius: 0.25rem;
                            margin-bottom: 0;
                        }
                        input[type=text],select {
                            border-top-left-radius:0;
                            border-top-right-radius: 0;
                            padding: 10px;
                            height: auto;
                        }
                        ul.list-unstyled {
                            li {
                                label {
                                    background-color: #fff;
                                    color: #000;
                                }
                            }
                        }
                    }
                    select {
                        background-position: center right;
                    }
                }
            }
        }
    }
}
