html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*,
*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
a {
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Roboto', sans-serif;
	line-height: 1;
    background-color: #eeeeee!important;
}
.container-fluid{
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.active {
	.list {
		display: block!important;
	}
}
main {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.row {
    height: 100%;
}
.menu-list.col-2 {
    flex: 0 0 13%!important;
    max-width: 13%!important;
}
.col-2 {
    background-color: #1D2531;
    padding: 0!important;
    height: 100%;
    .sidebar {
        display: block;
        height: 100%;
        .logo {
            padding: 0 15px;
            margin-bottom: 50px;
            display: block;
            a {
                figure {
                    text-align: center;
                    img {
                        width: 50px;
                        height: auto;
                    }
                }
            }
        }
        nav.navbar {
            padding: 0;
            ul {
                padding: 15px 0;
                width: 100%;
                li {
                    transition: background-color .4s;
                    a {
                        &::before {
                            margin-right: 10px;
                        }
                        padding: 15px 20px;
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        color: #8A979F;
                        transition: color .4s;
                        text-decoration: none;
                        border-bottom: 1px solid #222C3C;
                        &:hover {
                            color: #fff;
                        }
                        h1 {
                            font-size: 17px;
                            margin-bottom: 0;
                            font-size: 18px;
                        }
                        &:hover {
                            background-color: #222C3C;
                        }
                    }
                    // SUBMENU
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            a {
                                font-size: 17px;
                                padding: 7px 0 7px 40px;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .mm-active {
                    background-color: #222C3C;
                    a {
                        h1 {
                            color: #fff;
                        }
                    }
                }
                ul > li.mm-active{
                    background-color: #2b374a;
                }
            }
        }
    }
}
